<ul>
  <li><%= link_to_nav "Home", "/index.html", :page => "home" %></li>
  <li><%= link_to_nav "Paintings", "/paintings.html", :page => "paintings" %></li>
  <li><%= link_to_nav "Indoor Art", "/indoorart.html", :page => "indoorart" %></li>
  <li><%= link_to_nav "Outdoor Art", "/outdoorart.html", :page => "outdoorart" %></li>
  <li><%= link_to_nav "Sources", "/sources.html", :page => "sources" %></li>
</ul>