<ul>
  <li><%= link_to "Home", "/index.html" %></li>
  <li><%= link_to "Paintings", "/paintings.html" %></li>
  <li><%= link_to "Indoor Art", "/indoorart.html" %></li>
  <li><%= link_to "Outdoor Art", "/outdoorart.html" %></li>
  <li><%= link_to "Sources", "/sources.html" %></li>
</ul>