<ul class="nav">
  <li><%= link_to_nav "Home", "home.html", :page => "home" %></li>
  <li><%= link_to_nav "Paintings", "/paintings.html", :page => "paintings" %></li>
  <li><%= link_to_nav "Indoor Art", "/indoorart.html", :page => "indoorart" %></li>
  <li><%= link_to_nav "Outdoor Art", "/outdoorart.html", :page => "outdoorart" %></li>
  <li><%= link_to_nav "Personal Art", "/personalart.html", :page => "personalart" %></li>
  <li><span><hr></span></li>
  <li><span>Hunterdon Central</span></li>
  <li><span>2014</span></li>
</ul>
