---
page: home
---
<h1>Welcome to the HCRHS Chem olympics team web site!</h1>
<%= simple_format(lorem.paragraphs 4) %>
<hr>
<h2>Section 1</h2>
<%= image_tag_div lorem.image('100x100'), :div_class => "left" , :caption => "Testing"%>
<%= simple_format(lorem.paragraphs 2) %>

<h3>Sub Section A</h3>
<%= image_tag_div lorem.image('200x200'), :div_class => "right" , :caption => "This is a longer caption"%>
<%= simple_format(lorem.paragraphs 4) %>