---
title: Indoor Art
page: indoorart
---
<h1>Indoor Art</h1>

<p>One of the most popular types of art is art that is kept indoors in museums and galleries for the public to see. However this type of art, Sculptures and Ancient Pottery, while not exposed to the dangers that outdoor architecture faces, has to contend with its own set of issues. If the museums or galleries do not take the proper precautions when caring for its collection, the works of art are exposed to many different types of degradation and decomposition.</p>

<p>There are two main types of “spectator” art that we will be discussing</p>
<ul>
	<li>Sculptures</li>
	<li>Ancient Pottery</li>
</ul>

<h3>Sculptures</h3>
<%= image_tag_div "indoorart/Dying_gaul.jpg", :div_class => "left", :height => "210px", :caption => "Figure 1: Dying Gaul, Hellenistic Era" %>
<h4>Problems Facing Sculptures:</h4>
<p>There are many issues that Sculptures face while they are on display in museums. These include:</p>
<ul>
	<li>Crumbling</li>
	<li>Chipping</li>
	<li>Stains</li>
	<li>Rising Damp</li>
	<li>Spalling</li>
	<li>Acid Air</li>
</ul>

<p>Crumbling and Chipping, while easily preventable if the museum takes proper measures to protect the sculptures, are still very serious problems when it comes to conserving art pieces. As one would expect, crumbling and chipping usually occurs when a sculpture is bumped, dropped, or touched. While it can be easily be prevented by simply prohibiting people from coming near the pieces, it is a serious problem once it occurs. This is also true with staining, in that although it is a serious issue, it is easy to prevent by minimizing human contact with the piece <%= link_to "(8)", "#8" %>.</p>

<p>Rising Damp, on the other hand, is a much more serious problem faced by sculptures located indoors when compared to chipping and staining. Brought on by an increase in humidity, Rising Damp is the absorption of water into the base of the statue through capillary action. The water taken on by the statue causes the gradual separation of the IM forces between the solids in the statute, leading to serious damage to piece in the form of cracks or even entire sections becoming separated. While definitely a serious problem to statues that are located outdoors, pieces that are located indoors are also affected by rising damp, if the building the piece is housed in does not have proper ventilation or climate control to prevent changes in temperature and humidity <%= link_to "(6)", "#6" %>. For example, when the Cleveland Museum of Art lost power in November, 2011, many marble sculptures, such as Solidarity by Georges Minne, were moved to a location that had functioning climate control so as to avoid damaging the pieces.</p>

<p>Spalling is also another serious problem that faces sculptures in that, unlike chipping and crumbling, it can occur without any outside stimulus. While it does sometimes occur because of temperature or humidity changes, Spalling mostly happens because of the structural integrity of the stone. In sculptures that have been improperly mounted or displayed, entire sections of the piece can come apart due to its own structural instability.This problem, however,is thankfully not as common as the others due to the fact that the most popular “spectator” sculptures are made of marble; a material that is resistant to Spalling due to its high density. Typically, only pieces made from sedimentary rocks are affected by Spalling <%= link_to "(6)", "#6" %>.</p>

<%= image_tag_div "indoorart/formation-of-gypsum-crust.jpg", :div_class => "right", :height => "130px", :caption => "Figure 2: The Formation of Gypsum on Marble" %>
<p>Acid air with sculptures is also another very serious conservation issue that is brought on by particulates in the air, and it is a serious problem in buildings without proper ventilation and filtration. Similar to the concept of Acid Rain, Acid Air, i.e. polluted air with particles such as H<sub>2</sub>SO<sub>4</sub> , causes the formation of many unwanted substances on the surface of the sculpture <%= link_to "(1)", "#1" %>. These substances, which are much more soluble than the actual sculpture are easily washed or peeled off of the sculpture, resulting in aesthetic and structural damage. The most notable example of this is the formation of gypsum (CaSO<sub>4</sub>) on marble sculptures in the reaction: CaCO<sub>3</sub> + H<sub>2</sub>SO<sub>4</sub> → CaSO<sub>4</sub> + CO<sub>2</sub> + H<sub>2</sub>O <%= link_to "(7)", "#7" %>.</p>

<h4>Sculpture Conservation and Repair:</h4>
<p>￼Despite the number of issues that plague sculptures, all of them can be prevented by simply having a stable and safe environment to house the artwork. It the art is kept in a place free from impurities in the air, changes in humidity, and perhaps most importantly: human contact, all of the forms of degradation in sculpture simply wouldn’t occur <%= link_to "(4)", "#4" %>. However, because many museums and galleries do not have the means to create the perfect conditions to house sculptures, degradation inevitably takes place.</p>

<%= image_tag_div "indoorart/poultice.jpg", :div_class => "right", :height => "210px", :caption => "Figure 3: Clay pack cleaning" %>

<p>Conservation methods have changed radically since the 20th Century. Pre-1970, most aesthetic damage to sculptures were dealt with by simply scraping or washing the affected surface of the piece. This, while sometimes effective, usually led to more structural damage than repair, seeing as though the removal of the affected substances, for example Gypsum, would just result in the loss of the affected surface, not the repair. Other methods of restoration included using Poultices or “Clay Packs” to clean sculptures <%= link_to "(3)", "#3" %>. These packs, typically NaOH based <%= link_to "(10)", "#10" %>, would serve to loosen and remove the stains and substance brought on by processes such as sulfation or carbonation, but, like scraping or washing, this would also lead to the loss of the affected surface.</p>

<p>Conservation today, however, has had many leaps forward when compared to the techniques used during the majority of the 20th century. Nowadays, when a curator or conservator is forced to scrape off the patina on a sculpture, they are able to use lasers, instead of the obsolete copper scrapers of the 20th century, to clean the piece, which causes less structural damage and is generally more accurate and precise <%= link_to "(2)", "#2" %>. Additionally, there has also been advancements in the reversal of processes such as sulfation and carbonation. Take, for example, the formation of Gypsum on a marble sculpture. Conservators are able to take a solution of Carbonate Ions (CO<sub>3</sub><sup>2-</sup>) and apply it to the areas that have been converted to gypsum, resulting not only in the removal of the gypsum, but also the restoration of the surface and form that was under it <%= link_to "(5)", "#5" %>.</p>

		<%# <%= image_tag_div "indoorart/studio-laser-cleaning.jpg", :div_class => "left", :height => "210px", :caption => "Figure 4: Laser cleaning of a sculpture" %>

<hr><h3>Ancient Pottery</h3>

<h4>Problems facing Pottery:</h4>

<%= image_tag_div "indoorart/Ancient_Greek_pottery_(NAMA_7107).JPG", :div_class => "right", :height => "210px", :caption => "Figure 4: Ancient Greek Pottery" %>

<p>The conservation issues facing pottery are very similar to those facing sculptures, in that similar factors affect the condition and longevity of ancient pottery. Such factors include:</p>
<ul>
<li>Chipping</li>
<li>Crumbling</li>
<li>Chipping</li>
<li>Stains</li>
<li>Rising Damp</li>
</ul>

<p>However there is one somewhat unique issue: Salts</p>

<p>The problems facing pottery are virtually the same as sculptures, the only difference being the absence of such problems as spalling and acid air, and the inclusion of salts. Additionally, problems such as Rising Damp in pottery create different complications than with sculpture.</p>

<p>While Chipping, Crumbling, and Stains, are caused and prevented in the same ways as sculptures, Rising Damp is slightly different with pottery. Along with the obvious problem of the excess humidity causing structural instability in the piece, which in turn leads to cracks and breaks, RIsing Damp also affects the designs and pictures on the surface of the Pottery. These designs, which are common with pottery that is displayed in museums, are typically painted on to the pieces, and are extremely susceptible to moisture. As the piece takes on excess moisture from the air, the strong IM forces of water, due to the hydrogen bonds, causes the paint on the piece to start to distort, warp, or even run off the pot completely <%= link_to "(9)", "#9" %>.</p>

<p>Salts are also a large issue when it comes to restoration and preservation of pottery. Once a pot is excavated, it is typically saturated with soluble salts and covered with insoluble salts, which reduce the pot’s structural integrity and covers its design respectively. This is a big problem for conservators, who, thankfully, have come up with a number of solutions <%= link_to "(11)", "#11" %>.</p>


<h4>Ancient Art Conservation and Repair:</h4>

<p>Once again, like sculptures, all of the potential methods of degradation that pottery faces can be avoided by simply keeping proper environmental control and minimizing contact between the pieces and humans, or, like with conserving paintings, one could use materials such as silica gel to reduce humidity. These methods would eliminate issues like chipping, staining, crumbling, and rising damp, all of which are caused by outside stimuli. However, again like with sculptures, no method of protection is perfect and degradation inevitably takes place.</p>

<p>Methods of conservation and repair in pottery have evolved greatly from ancient times to modern day, perhaps even more so than with sculptures. In ancient times, potters would simply use animal glues and adhesives to repairs cracks, or, in extreme cases, they would simply remake the pot <%= link_to "(9)", "#9" %>.</p>

<%= image_tag_div "indoorart/allison_vase_lg.jpg", :div_class => "left", :height => "240px", :caption => "Figure 5: Modern techniques" %>

<p>However, as the ancient techniques of pottery making have slowly become lost to our society, we have lost the ability to simply replace pots, and instead are forced to preserve and restore the pieces that we have. During the 18th and 19th centuries, conservators would also use glue, and would try to repaint the pieces in order to preserve their original designs. This idea of repainting vases is still practiced today; however, conservators are now able to use X-ray and UV fluorescence to see the residue left behind by the original paint, in order to reconstruct a more accurate picture <%= link_to "(9)", "#9" %>.</p>

<p>Additionally, much work is put into restoring art that has just been excavated. In many cases, after excavation, the pieces of pottery become saturated with soluble salts and covered with insoluble salts. To deal with the saturation of soluble salts, conservators can simply run the pots under water, which, due to the salts high rate of solubility, will remove the salts from the pot. The coverings of insoluble salts, however, requires a slightly more complicated solution. While the “safest” way to remove the salts is by hand with a scraper or laser, many conservators remove the salts chemically, by using an acid (most commonly HCl, HNO<sub>3</sub>, and H<sub>2</sub>C<sub>2</sub>O<sub>4</sub>) to remove the layer of salt. This is less safe than a scraper because, if left unchecked, once the reaction between the acid and the salt is finished, the acid could start to react with the glaze or the paint on the pot itself, ruining its design. This is usually avoided by either careful application of the acid, with cotton swabs or cue-tips, or by simply wetting the pot <%= link_to "(11)", "#11" %>.</p>

<hr><h2>Sources</h2>
<%= partial "sources_indoorart" %>
