---
title: Outdoor Art
page: outdoorart
---
<h1>Outdoor Art</h1>
<h3>Acid Rain</h3>
<p>By definition, anything with aesthetically pleasing qualities is art. Modern and historic buildings can therefore be defined as art because of the aesthetically pleasing qualities within their architecture. The Colosseum, the Leaning Tower of Pisa, and even the Washington Monument are works of art standing today. These buildings all contain some form of calcium carbonate: CaCO<sub>3</sub>. Calcium carbonate is built into long-lasting structures because it releases CaO under extreme heat; this sturdy material keeps structures pristine for longer periods of time <%= link_to "(5)", "#5" %>. Acid rain, however, erodes these structures despite their sturdy composition.</p>

<p>Acid rain is rain that has a PH below 5.6, in other words: rain with a respectively acidic PH <%= link_to "(2)", "#2" %>. This acidic precipitation destroys these outdoor art structures through the process of erosion: the wearing away of a surface over time.</p>

<p>Although there is litter the world can do about this problem as long as the rain retains it's acidic PH, two solutions have been proposed:</p>
<ul>
	<li>limit emissions: this would eventually reduce the acidity of the rain</li>
	<li>constant restoration: returns the surface to its original, favorable condition</li>
</ul>

<p>Acid rain can't be contained, which makes its effects so widespread and potent. It blows with the wind and is captured and carried by localized weather systems. Although the erosion acid rain causes is slow, it is constant. Unless we shift our reliance on fossil fuels to other types of green energy (wind, solar, etc.), we will continue to witness the destructive consequences of acid rain throughout our environment, on both natural and man-made structures <%= link_to "(4)", "#4" %>.</p>

<p>The acidity of rainwater comes from the presence of three substances in rain: CO<sub>2</sub>, NO, and SO<sub>2</sub>. These substances are found in the troposphere, the lowest layer of the atmosphere <%= link_to "(3)", "#3" %>.</p>
<p>H<sub>2</sub>O + CO<sub>2</sub> &rarr; H<sub>2</sub>CO<sub>3</sub> One way to form acid rain</p>
<p>N<sub>2</sub> + O<sub>2</sub> &rarr; 2NO Another way to form acid: rain with lightning starting the 1st reaction</p>
<p>NO + &frac12; O<sub>2</sub> &rarr; NO<sub>2</sub></p>
<p>3NO<sub>2</sub> + H<sub>2</sub>O &rarr; 2HNO<sub>3</sub> + NO</p>
<p>2SO<sub>2</sub> + O<sub>2</sub> &rarr; 2SO<sub>3</sub> Final way of naturally forming Acid Rain.</p>
<p>SO<sub>3</sub> + H<sub>2</sub>O &rarr; H<sub>2</sub>SO<sub>4</sub></p>
<p><%= link_to "(3)", "#3" %></p>

<p>With pollutants, an abnormally large amount of CO<sub>2</sub> and SO<sub>2</sub> are formed which causes significant damage to all sorts of aesthetically pleasing structures both natural and man-made. By decreasing the PH of acid rain, pollutants catalyze the decay of outdoor art in the form of structures or architecture.</p>

<p>Any monument with marble or limestone will have calcite in it. Many outdoor structures are made of limesrone or marble and the calcite in them, CaCO<sub>3</sub>, will especially decay due to acid rain. Monuments like the Roman Colosseum, the Thomas Jefferson Memorial, and even the Washington Monument, experience decay due to their calcite composition and the relentless erosion acid rain causes.</p>

<p>The acid-base reaction that takes place within acid rain erosion involves marble breaking down to form water and Carbon Dioxide gas:</p>
<p>CaCO<sub>3</sub> (s) + H<sub>2</sub>SO<sub>4</sub> &rarr; Ca<sup>2+</sup> + SO<sub>4</sub> <sup>2-</sup> + H<sub>2</sub>O + CO<sub>2</sub></p>
￼￼￼￼
<p>This reaction causes significant damage to the structures over time if not treated.</p>

<hr><h3>Thomas Jefferson Memorial</h3>
<%= image_tag_div "outdoorart/Cleaning-jefferson-volutes_1.JPG", :div_class => "left", :height => "180px", :caption => "Figure 1" %>
<p>The Thomas Jefferson Memorial in Washington DC has faced heavy exposure to acid rain over the years. In 1997, the average rain pH around Washington, D.C. was between 4.2 and 4.4 <%= link_to "(2)", "#2" %>. In exposed areas of buildings and statues, effects of acid rain include roughened surfaces, pits and pocks where material was removed, and loss of carved details. Stone surface material may be lost all over or only in spots that are more reactive <%= link_to "(2)", "#2" %>. In the marble columns that hold the memorial stable, the calcite dissolved which has made the memorial unsafe.. Before restoration work in 2004, black crusts were visible on the tops of the columns that are sheltered from rain and from regular washing of the monument. Black crusts can be removed by intermittent water misting, which softens the crust allowing it to be carefully removed <%= link_to "(2)", "#2" %>.</p>

<p>In the picture above, the Thomas Jefferson memorial is being cleaned and renovated to maintain the aesthetically pleasing qualities that are deteriorating as a result of acid rain. The acid rain is leaving black sediment behind which needs to be regularly removed by cleaning. This cleaning and renovation drains tax dollars and is not a long-term solution.</p>

<hr><h3>Ulysses S. Grant Memorial</h3>
<%= image_tag_div "outdoorart/DSC00565.JPG", :div_class => "right", :height => "250px", :caption => "Figure 2" %>
<p>Another outdoor monument that is currently affected by acid rain is the Ulysses S. Grant Memorial. This statue is made of a metal alloy of copper with a smaller amount of tin. As acid rain falls upon the statute, the copper oxidizes and drips down. This oxidized copper creates green steaks on the marble pedestal that can be seen in the picture below <%= link_to "(2)", "#2" %>.</p>

<p>The short term solution to the problem of acid rain erosion renovation. According to the US National Parks, “The NPS's specially trained statue preservation crew periodically washes the bronze statues of the National Mall and Memorial Parks with a conservation detergent and applies a microcrystalline wax to a surface heated with torches. The wax protects the metal for one to two years, depending on exposure, and is easily renewed” <%= link_to "(2)", "#2" %>. The wax solution works because it is non-polar solution. The polar acid rain takes a long time to break down the wax solution, and thus the acidic rain cannot reach the statue for a period of time. This, however, is not a long term solution.</p>

<hr>
<p>The long-term solution to saving these forms of art is to limit emissions and pollutants. In many new buildings, such as the Freedom tower in New York City, CO<sub>2</sub> and SO<sub>2</sub> emissions are being reduced significantly. If the CO<sub>2</sub> and SO<sub>2</sub> reactants are reduced, the acidity of acid rain will be significantly reduced and equilibrium will shift away from the product: H<sub>3</sub>O. The Freedom Tower to limit their emissions, used sustainable concrete to build the first 40 floors of the building. Sustainable concrete is made differently than regular concrete and is an eco-friendly building material <%= link_to "(1)", "#1" %>. The environmental impact of this change in building materials is 221,820 lbs (100,706 kg) SO<sub>2</sub> reduction, and 34,886,050 lb (15,838,267 kg) CO<sub>2</sub> reduction <%= link_to "(1)", "#1" %>. This new method of building structures helps preserve art in the long run and is a good way to slow down acid rain and its effects.</p>

<p>Limiting emissions of CO<sub>2</sub> and SO<sub>2</sub> not only saves money because of restoration costs, but helps preserve these great pieces of art so future generations will be able to see them as they were hundreds of years before.</p>

<hr><h2>Sources</h2>
<%= partial "_sources_outdoorart" %>
