---
title: Personal Art
page: personalart
---
<h1>Personal Art</h1>

<p>With knowledge of the chemistry that affects different types of art, an individual can make educated decisions regarding their own personal art pieces. This information can be applied to storage, treatment, and cleaning of purchased art.</p>

<p>Regarding artwork intended for decoration in a household, an individual must be mindful of the atmosphere where they are displaying artwork. For oil paintings, it is imperative that room temperature and air-moisture are considered; as previously described in the Paintings section, exposure to humidity can be extremely damaging to a painting. Expansion and contraction of a canvas can cause a painting to flake and crack, altering its appearance <%= link_to "(1)", "#1" %>. Additionally, high humidity increases a painting’s vulnerability to mold and mildew; this also causes paint to chip off a composition <%= link_to "(2)", "#2" %>. Lighting is another factor one must consider in order to conserve the condition of a painting. While one may think natural light is ideal, this source of energy actually contains high amounts of ultraviolet radiation. Due to the natural composition of many oil paints, discoloration is common if a painting faces frequent exposure to UV wavelengths. While incandescent light is the least harmful, one must be mindful of the heat this form of energy releases <%= link_to "(3)", "#3" %>.</p>

<p>Upkeep of personal artwork is also very important to preserving a piece’s condition. Many forms of household dust contain acid components, such as sulfuric acid. This acid can react with paint and canvas of a painting, causing damage. It is important to regularly dust personal oil paintings so the acidity of a painting is not affected; brittleness and a weakening of paper fibers, as well as discoloration can occur due to increased acidity. This is attributed to an increase of free hydrogen ions, which break the cellulose bonds found in the canvas of paintings <%= link_to "(4)", "#4" %>. In order to prevent this destructive process, dusting is a necessity.</p>

<p>Other at home conservation methods exist besides for consideration of location and periodic cleaning. Many pieces of artwork such as busts and statues are made from metal substances that can react with their surroundings. For example, metals such as copper are prone to oxidation when exposed to atmospheric oxygen. When copper begins to oxidize, copper oxide is created in the following reaction:</p>
<p>Cu (s) &rarr; Cu<sup>2+</sup> + 2e<sup>-</sup></p>

<p>The reaction alters the copper, producing a brown-black material that changes the coloration of a piece of artwork. Tarnishing also occurs when copper is exposed to sulfide in the air and reacts to create different types of copper sulfide <%= link_to "(5)", "#5" %>. Do-it-yourself methods exist that can preserve pieces of copper artwork and provide protection from further damage. Since copper oxide is a base, when an acid such as citric acid is applied to its surface, this acid-base reaction produces a salt and water. The produced salt can be washed away, leaving the copper surface shiny and tarnish-free <%= link_to "(6)", "#6" %>. Additional sprays exist that contain acid components; they can be purchased to achieve a similar effect.</p>

<p>While pieces of art may have different compositions, similar restoration processes exist in which the addition of a substance acts to reverse damage done by exposure to air. Chemistry can help an individual understand, prevent, and fight against the potential dangers pieces of art face due to different environments.</p>

<hr><h2>Sources</h2>
<%= partial "sources_personalart" %>
