<span class="sources">
<h4>Images</h4>

<p>Figure 1: <%= link_to "http://en.wikipedia.org/wiki/File:Dying_gaul.jpg", "http://en.wikipedia.org/wiki/File:Dying_gaul.jpg" %></p>
<p>Figure 2: <%= link_to "http://venice.umwblogs.org/files/2008/12/formation-of-gypsum-crust.jpg", "http://venice.umwblogs.org/files/2008/12/formation-of-gypsum-crust.jpg" %></p>
<p>Figure 3: <%= link_to "http://www.buildingconservation.com/articles/poultices/poultice.htm", "http://www.buildingconservation.com/articles/poultices/poultice.htm" %></p>
<p>Figure 4: <%= link_to "http://commons.wikimedia.org/wiki/File:Ancient_Greek_pottery_(NAMA_7107).JPG", "http://commons.wikimedia.org/wiki/File:Ancient_Greek_pottery_(NAMA_7107).JPG" %></p>
<p>Figure 5: <%= link_to "http://www.getty.edu/art/exhibitions/fragment_to_vase/lewis.html", "http://www.getty.edu/art/exhibitions/fragment_to_vase/lewis.html" %></p>

<h4>Documents</h4>

<%= content_tag :a, :name => "1" do end%><p>(1)</p>
<p>Spengler, John D., Michael Brauer, and Petros Koutrakis. "Acid Air and Health."Environmental Science and Technology 24.7 (1990): 946-56. Web. 4 Apr. 2014.</p>

<%= content_tag :a, :name => "2" do end%><p>(2)</p>
<p>Cooper, Martin, and John Larson. "The Use of Laser Cleaning to Preserve Patina on Marble Sculpture." The Conservator 20.1 (1996): 28-32. Web. 4 Apr. 2014.</p>

<%= content_tag :a, :name => "3" do end%><p>(3)</p>
<p>Wilmering, Antoine M. "The Conservation of Marble Sculptures in the British Museum Before 1975." Studies in Conservation 47.3 (2002): 145-54. Web. 3 Apr. 2014.</p>

<%= content_tag :a, :name => "4" do end%><p>(4)</p>
<p>Hempel, Kenneth F. B. "Notes on the Conservation of Sculpture, Stone, Marble and Terracotta." Studies in Conservation 13.1 (1968): 33-44. Web. 3 Apr. 2014.</p>

<%= content_tag :a, :name => "5" do end%><p>(5)</p>
<p>Skoulikidis, Theodore N. "Inversion of Marble Sulfation—reconversion of Gypsum Films into Calcite on the Surfaces of Monuments and Statues."Studies in Conservation 29.4 (1984): 197- 204. Web. 3 Apr. 2014.</p>

<%= content_tag :a, :name => "6" do end%><p>(6)</p>
<p>"Restoration and Conservation of Sculpture and Works of Art." Imogen Paine Ltd. N.p., n.d. Web. 15 Apr. 2014.</p>

<%= content_tag :a, :name => "7" do end%><p>(7)</p>
<p>"Environmental Degradation of Marble." Cultural Heritage. University of Naples, n.d. Web. 15 Apr. 2014.</p>

<%= content_tag :a, :name => "8" do end%><p>(8)</p>
<p>"Degradation Phenomena." ACROPOLIS RESTORATION SERVICE. N.p., n.d. Web. 15 Apr. 2014.</p>

<%= content_tag :a, :name => "9" do end%><p>(9)</p>
<p>"Fragment to Vase (Getty Villa Exhibitions)." Fragment to Vase (Getty Villa Exhibitions). J. Paul Getty Museum, n.d. Web. 15 Apr. 2014.</p>

<%= content_tag :a, :name => "10" do end%><p>(10)</p>
<p>"Poultices." And the Cleaning of Historic Masonry and Sculpture. Cathedral Communications Ltd., n.d. Web. 16 Apr. 2014.</p>

<%= content_tag :a, :name => "11" do end%><p>(11)</p>
<p>"Conservation of Pottery." - Conservation Manual. CMAC, n.d. Web. 16 Apr. 2014.</p>
</span>
