<span class="sources">
<h4>Documents</h4>
<%= content_tag :a, :name => "1" do end%><p>(1)</p>
<p>Karpowicz, Adam. "A Study of Development of Cracks on Paintings."Journal of the American Institute for Conservation 29.2 (1990): 169-80.JSTOR Web. 10 Apr. 2014. <http://www.jstor.org/discover/10.2307/3179581?uid=3739808&uid=2129&uid=2&uid=70&uid=4&uid=3739256&sid=21103665578571>.</p>

<%= content_tag :a, :name => "2" do end%><p>(2)</p>
<p>"Design vs. Function: Choosing Where to Hang Your Original Painting."Design vs. Function: Choosing Where to Hang Your Original Painting. ARTmine, Jan. 2003. Web. 10 Apr. 2014.</p>

<%= content_tag :a, :name => "3" do end%><p>(3)</p>
<p>"Caring for Your Works of Art." - Auckland Art Gallery. Regional Facilities Auckland, 2014. Web. 16 Apr. 2014. <http://www.aucklandartgallery.com/about-us/conservation/caring-for-your-works-of-art#Dust>.</p>

<%= content_tag :a, :name => "4" do end%><p>(4)</p>
<p>"Preventive Painting Conservation." Preventive Painting Conservation. N.p., n.d. Web. 9 Apr. 2014. <http://www.benakaartconservation.com/Restoration/Preventive_Painting_Conservation.html>.</p>

<%= content_tag :a, :name => "5" do end%><p>(5)</p>
<p>"Redox Reactions." Oxidation-Reduction Reactions: Redox. The University of North Carolina at Chapel Hill, 2008. Web. 14 Apr. 2014. <http://www.shodor.org/unchem-old/advanced/redox/index.html>.</p>

<%= content_tag :a, :name => "6" do end%><p>(6)</p>
<p>"Why Do Citric Acids Clean Pennies Best." References to Help Explain Why Citric Acids Clean Pennies Best. N.p., n.d. Web. 16 Apr. 2014. <http://www.finishing.com/134/43.shtml>.</p>
</span>
