<span class="sources">
<h4>Images</h4>

<p>Figure 1: <%= link_to "http://materialsworld.utep.edu/Modules/Concrete/Chromatography/", "http://materialsworld.utep.edu/Modules/Concrete/Chromatography/" %></p>

<h4>Documents</h4>

<%= content_tag :a, :name => "1" do end%><p>(1)</p>
<p>Zhuravlev, L. T. "The Surface Chemistry of Amorphous Silica. Zhuravlev Model." Elsevier Science 21 Feb. 2000: n. pag. Web. 4 Apr. 2014. <http://psec.uchicago.edu/library/photocathodes/SiO2_OH_model.pdf>.</p>

<%= content_tag :a, :name => "2" do end%><p>(2)</p>
<p>The Dielectric Behaviour of Vapours Adsorbed on Activated Silica Gel R. McIntosh, E. K. Rideal and J. A. Snelgrove Proceedings of the Royal Society of London. Series A, Mathematical and Physical Sciences Vol. 208, No. 1094 (Sep. 7, 1951), pp. 292-31</p>

<%= content_tag :a, :name => "3" do end%><p>(3)</p>
<p>Nutile, Ryan, Nicholas Donnellly, and Adan Rivas. The Preservation and Restoration of Art. N.p.: n.p., n.d. PDF.</p>

<%= content_tag :a, :name => "4" do end%><p>(4)</p>
<p>Rehs, Howard. "Water and Humidity." Fine Arts Connoisseour June 2006: 18. JSTOR. Web. 6 Apr. 2014.</p>

<%= content_tag :a, :name => "5" do end%><p>(5)</p>
<p>Karpowicz, Adam. "A Study of Development of Cracks on Paintings."Journal of the American Institute for Conservation 29.2 (1990): 169-80.JSTOR. Web. 10 Apr. 2014. <http://www.jstor.org/discover/10.2307/3179581?uid=3739808&uid=2129&uid=2&uid=70&uid=4&uid=3739256&sid=21103665578571>.</p>

<%= content_tag :a, :name => "6" do end%><p>(6)</p>
<p>"Restoration of the Last Supper of Leonardo Da Vinci." PhilVaz. N.p., n.d. Web. 20 Apr. 2014. <http://www.philvaz.com/apologetics/LeonardoLastSupper.htm></p>

<%= content_tag :a, :name => "7" do end%><p>(7)</p>
<p>"Chromatography -- Materials World Modules -- Department of Chemistry."UTEP Chemistry. The University of Texas at El Paso, 2010. Web. 5 Apr. 2014. <http://materialsworld.utep.edu/Modules/Concrete/Chromatography/>.</p>

</span>
