<span class="sources">
<h4>Images</h4>
<p>Figure 1 &amp; 2: <%= link_to "http://www.nps.gov/nama/blogs/Acid-Rains-Slow-Dissolve.htm", "http://www.nps.gov/nama/blogs/Acid-Rains-Slow-Dissolve.htm" %></p>

<h4>Documents</h4>
<%= content_tag :a, :name => "1" do end%><p>(1) <%= link_to "http://www.basf-admixtures.com/SiteCollectionDocuments/Programs/&hellip;", "http://www.basf-admixtures.com/SiteCollectionDocuments/Programs/GSC%20and%20EEA/One%20World%20Trade%20Center%20Project%20Profile%20110612R.pdf" %></p>
<p>"Green Sense® Concrete Mixture Proportioning Optimization Service." Basf Admixtures. BASF Corporation, 2012. Web. 14 Apr. 2014.<p>

<%= content_tag :a, :name => "2" do end%><p>(2) <%= link_to "http://www.nps.gov/nama/blogs/Acid-Rains-Slow-Dissolve.htm", "http://www.nps.gov/nama/blogs/Acid-Rains-Slow-Dissolve.htm" %></p>
<p>United States. National Park Service. "Acid Rain's Slow Dissolve." National Parks Service. U.S. Department of the Interior, 14 Apr. 2014. Web. 14 Apr. 2014.</p>

<%= content_tag :a, :name => "3" do end%><p>(3) <%= link_to "http://www.chemistry.wustl.edu/~edudev/LabTutorials/Water/FreshWater/acidrain.html", "http://www.chemistry.wustl.edu/~edudev/LabTutorials/Water/FreshWater/acidrain.html" %></p>
<p>Frey, Regina, and Rachel Casiday. "Acid Rain." Acid Rain. Washington University, 1998. Web. 14 Apr. 2014.</p>

<%= content_tag :a, :name => "4" do end%><p>(4) <%= link_to "http://www.nachi.org/acid-rain.htm", "http://www.nachi.org/acid-rain.htm" %></p>
<p>Gromicko, Nick, and Kate Tarasenko. "Acid Rain and Inspectors: Buildings at Risk." - InterNACHI. International Association of Certified Home Inspectors, Inc, n.d. Web. 14 Apr. 2014.</p>

<%= content_tag :a, :name => "5" do end%><p>(5) <%= link_to "http://www.the-colosseum.net/architecture/materials_en.htm", "http://www.the-colosseum.net/architecture/materials_en.htm" %></p>
<p>"Materials." The Colosseum. Web. 14 Apr. 2014.</p>
</span>
