<span class="sources">
<h4>Images</h4>

<p>Figure 1: <%= link_to "http://materialsworld.utep.edu/Modules/Concrete/Chromatography/", "http://materialsworld.utep.edu/Modules/Concrete/Chromatography/" %></p>

<h4>Documents</h4>

<%= content_tag :a, :name => "1" do end%><p>(1)</p>
<p>http://psec.uchicago.edu/library/photocathodes/SiO2_OH_model.pdf</p>

<%= content_tag :a, :name => "2" do end%><p>(2)</p>
<p>The Dielectric Behaviour of Vapours Adsorbed on Activated Silica Gel R. McIntosh, E. K. Rideal and J. A. Snelgrove Proceedings of the Royal Society of London. Series A, Mathematical and Physical Sciences Vol. 208, No. 1094 (Sep. 7, 1951), pp. 292-31</p>

<%= content_tag :a, :name => "3" do end%><p>(3)</p>
<p>https://www.google.com/search?q=Black+Hollyhock%2C+Blue+Larkspur&oq=Black+Hollyhock%2C+Blue+Larkspur&aqs=chrome..69i57j69i59.390j0j7&sourceid=chrome&espv=2&es_sm=93&ie=UTF-8#q=black+hollyhock%2C+blue+larkspur+silica+gel</p>

<%= content_tag :a, :name => "4" do end%><p>(4)</p>
<p>http://images.radcity.net/6047/1444353.pdf</p>

<%= content_tag :a, :name => "5" do end%><p>(5)</p>
<p>http://www.jstor.org/discover/10.2307/3179581?searchUri=%2Faction%2FdoBasicSearch%3FQuery%3Dhumidity%2527s%2Beffect%2Bon%2Bpaintings%26amp%3Bprq%3Dhumidity%2527s%2Beffect%2Bon%2Bpaintings%26amp%3Bhp%3D25%26amp%3Bacc%3Doff%26amp%3Bwc%3Don%26amp%3Bfc%3Doff%26amp%3Bso%3Drel%26amp%3Bracc%3Doff&resultItemClick=true&Search=yes&searchText=humidity%2527s&searchText=effect&searchText=on&searchText=paintings&uid=3739808&uid=2134&uid=2&uid=70&uid=4&uid=3739256&sid=21104005135763</p>

<%= content_tag :a, :name => "6" do end%><p>(6)</p>
<p>http://www.philvaz.com/apologetics/LeonardoLastSupper.htm </p>

<%= content_tag :a, :name => "7" do end%><p>(7)</p>
<p>http://materialsworld.utep.edu/Modules/Concrete/Chromatography/ </p>

<%= content_tag :a, :name => "8" do end%><p>(8)</p>
<p>http://www.philvaz.com/apologetics/LeonardoLastSupper.htm</p>
</span>
